<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="content">
		<f:if condition="{header}">
			<f:then>
				<code>Cookies Header</code>
				<f:if condition="{modal}==1">
					<f:render partial="Modal" arguments="{_all}" />
				</f:if>
				<f:for each="{cookieGroups}" as="cookieGroup">
					<f:for each="{cookieGroup.cookies}" as="cookie">
						<f:format.raw>{cookie.inhead}</f:format.raw>
					</f:for>
				</f:for>
				<f:if condition="{revoke}">
					<f:link.action class="sit-cookieoptin-modal-revoke" action="revokeCookies" controller="Frontend" id="revoke">
						{f:translate(key: 'cookieoptin_modal_revoke')}
					</f:link.action>
				</f:if>
			</f:then>
			<f:else>
				<code>Cookies Footer</code>
				<f:for each="{cookieGroups}" as="cookieGroup">
					<f:for each="{cookieGroup.cookies}" as="cookie">
						<f:format.raw>{cookie.infooter}</f:format.raw>
					</f:for>
				</f:for>
			</f:else>
		</f:if>
	</f:section>
</html>